body {
  background-color: #ce3635;
  text-align: center;
  color: #fff;
  padding-top: 10em;
}

* {
  color: #fff;
  text-decoration: none;
}

ul {
  position: fixed;
  top: 0.7em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4594c;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f44e3f;
}
.footer {
  position: fixed;
  bottom: 1em;
  text-align: center;
  margin-left: 50vw;
}
